:root{

}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
header.site-header{
    background-color: rgb(50, 50, 50);
    height: 20vh;
    text-align: center;
}
.bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.bar h1{
    width: 80%;
    color: white;
    font-weight: 300;
}
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
}
.menu a{
    color: white;
    padding-inline: 10px;
}
.menu a:hover,
.menu a:focus{
    /* background-color: white;
    color: rgb(50, 50, 50);
    
    border: 1px solid gray; */
    border-bottom: 3px solid white;
    box-shadow: 0 0 6px black;
    padding-inline: 10px;
    border-radius: 5px;
    
}
input,
select{
    justify-content: right;
    width: 200px;
    text-align: center;
}
.form-container{
    display: flex;
    flex-direction: column;
}
main h2{
    text-align: center;
    margin-top: 1rem;
}
.form-control{
    width: 75%;
    display: flex;
    justify-content:right;
    margin-top: 1rem;
}
.registration-button{
    width: 50%;
    height: 40px;
    margin-top: 1rem;
    align-self: center;
    background-color: rgb(50, 50, 50);
    color: white;
    border-radius: 5px;
}
.registration-button:hover{
    background-color: white;
    color: rgb(50, 50, 50);
}
.input-error{
    border: 1px solid red;
}
/*-------Login Page----------*/

.main-container{
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: .8rem;
    margin-block: 40px;
    padding-block: 40px;
    border: 3px solid rgb(50, 50, 50);
    border-radius: 20px;
    background-color: lightgray;
}
.login-container{
    margin-top: 20px;
}
.login-email-container,
.login-password-container{
    display: flex;
    justify-content: space-between;
}
.login-password-container{
    margin-top: 10px;
}
#loginEmail,
#loginPassword{
    margin-left: 20px;
    border-radius: 5px;
    height: 40px;
}
.login-button-container{
    margin-top: 40px;
}
.login-button-container > *{
    border: 1px solid rgb(50, 50, 50);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(50, 50, 50);
    color: white;
}
.login-button-container > *:hover{
    background-color: white;
    color: rgb(50, 50, 50);
}
.login-label{
    justify-content: right;
    text-align: right;
    padding-top: 10px;
    width: 100%;
}
@media (min-width: 678px){
    .form-control{
        width: 57%;
    }
    .registration-button{
        width: 30%;
    }
}